# Chapter 2: Julia fundamentals

This is an introduction into very basic commands in Julia. Make sure that all of these commands run for you, and keep it as a cheatsheet for the rest of the book.

## Install packages
To install external packages, we first activate the builtin package manager:

In [ ]:
using Pkg

Then we can install the packages of interest as follows:

In [ ]:
Pkg.add("CSV")
Pkg.add("DataFrames")

Since the **JudiLing** package is already in the Julia repository, we can install the stable version by specifying:

In [ ]:
Pkg.add("JudiLing")

But if you are interested in the developing version, then install package from its url:

In [ ]:
# uncomment to run
# Pkg.add(url="https://github.com/quantling/JudiLing.jl")

### Exercise solutions

#### Exercise 1

Install the `Plots` package.

In [ ]:
Pkg.add("Plots")

#### Exercise 2

Use `Pkg.status()` to ensure that at least version 0.11 of JudiLing is installed.

In [ ]:
Pkg.status()

## Mathematical operations

Next we introduce some basic commands for doing mathematical calculations. As a first step, we can use **Julia** as a simple calculator.

In [ ]:
1 + 1

In [ ]:
2 * 3

In [ ]:
1/2

Other useful commands include e.g., to obtain the absolute value:

In [ ]:
abs(-1)

Or to get the square root:

In [ ]:
sqrt(144)

One special funcionality of **Julia** is that we can directly make use of the math unicode symbols:

In [ ]:
√144

### Exercises

#### Exercise 3

$25^{17}$

In [ ]:
25^17

#### Exercise 4

$8273451751 \mod 12$

In [ ]:
mod(8273451751, 12)

#### Exercise 5

$421403 > 178231234$

In [ ]:
421403 > 178231234

#### Exercise 6

$1 \neq -1$

In [ ]:
1 != −1
# or alternatively
1 ≠ −1

#### Exercise 7

$\cos(90^{\circ})$

In [ ]:
cosd(90)

## String operations
In julia, strings are always denoted with `"..."`, not with `'...'` as in other programming languages!

In [ ]:
a_string = "abc"

To paste two or more strings together, we can simply do

In [ ]:
string("a", "b", "c")

Count letters in a string:

In [ ]:
length(a_string)

### Exercises

#### Exercise 8

Define the variables `firstname` and `surname` to contain your first name and surname respectively.

In [ ]:
firstname = "Jane"
surname = "Doe"

Compute the length of your first name and surname.

In [ ]:
length(firstname)

In [ ]:
length(surname)

#### Exercise 9

Paste `firstname` and `surname` together, separated by a whitespace.

In [ ]:
name = string(firstname, " ", surname)
# alternatively
name = join([firstname, surname], " ")

#### Exercise 10

Compute the length of the full name.

In [ ]:
length(name)

#### Exercise 11

Split `firstname` into letters.

In [ ]:
split(firstname, "")

Split `name` into first name and surname.

In [ ]:
split(name, " ")

## Vector operations

Defining a vector in julia:

In [ ]:
v1 = [-1,2,3]

The `length` function, when provided with a vector as input, returns the number of elements in that vector

In [ ]:
length(v1)

Different methods of a given function are usually well documented. To access the documentation, we can enter the **help** mode by pressing `?`, then type in the name of the function

In [ ]:
?length

Next, elementa in a vector are extracted by specifying their position between square brackets,

In [ ]:
v1[2]

or the range of the positions:

In [ ]:
v1[1:2]

There are some builtin functions for numeric vectors, such as `sum`, which calculates the sum of the vector,

In [ ]:
sum(v1)

`findmax` and `findmin` return a tuple, the first element of which is the maximum and minimum value of the vector respectively. The second element indicates the position of the maximum/minimum value in the vector.

In [ ]:
findmax(v1)

In [ ]:
findmin(v1)

### Loop
To do the same operation for every element in a vector, we will need to use a **for** loop. For example, if we want to add 10 to each element of our "v1" vector, we can define a loop as follows:

In [ ]:
for i in 1:length(v1)
    v1[i] = v1[i] + 10
end

Now our new "v1" looks like:

In [ ]:
v1

A simpler way to achieve the same effect is by making use of the dot operator.

In [ ]:
v1 = [-1, 2, 3];
v1 .+ 10

We can likewise `broadcast` other functions by adding the dot operator to other functions. The following code returns the absolute value of all the elements in "v1":

In [ ]:
abs.(v1)

This is equivalent to:

In [ ]:
map(abs, v1)

Or we can request the length of each element in a string vector:

In [ ]:
v2 = ["ab", "abc", "cdef"]

In [ ]:
length.(v2)

Note that the `map` function also does the same job, where we specify the function name first, followed by the input vector:

In [ ]:
map(length, v2)

And nesting multiple functions:

In [ ]:
sum(map(length, v2))

### Exercises

#### Exercise 12

Defining a vector $v = \begin{pmatrix}8 & 89 & 123 & -1 \end{pmatrix}$ and printing each value in a new line:

In [ ]:
v = [8, 89, 123, -1]

In [ ]:
for val in v
    println(val)
end

In [ ]:
# alternatively
println.(v);

#### Exercise 13

Summing the last three elements of $v$:

In [ ]:
sum(v[2:4])

In [ ]:
# alternatively
sum(v[(end-2): end])

#### Exercise 14

Defining a vector with values from -513 to 8089, taking the absolute value of all elements and summing over them:

In [ ]:
sum(abs.(collect(-513:8089)))

## Matrix operations
To define a matrix in **Julia**, we do:

In [ ]:
m1 = [[-1 2 3]
      [4 -5 6]]

All commands above apply in the same way to matrices, e.g.

In [ ]:
sum(m1)

In [ ]:
abs.(m1)

In [ ]:
m1 .+ m1

In [ ]:
size(m1)

Applying a function across rows only. Some functions have this built-in, such as `sum`, where you can just define the dimension across which to apply the function:

In [ ]:
sum(m1, dims=2)

To use the `map` function, we will need the `eachrow` function to do the operation row-wise:

In [ ]:
map(sum, eachrow(m1))

...or column-wise:

In [ ]:
map(sum, eachcol(m1))

For indexing, we have to first specify the row number, then the column number, e.g.,

In [ ]:
m1[1,3]

When referring to the entire row/column, we have to specify the row or column number in the respective position, and put colon marks in the other position. For example, to get all the values of the first row, we do:

In [ ]:
m1[1, :]

And to get all the values of the second column, we do:

In [ ]:
m1[:, 2]

When working with two or more matrices, sometimes we may want to combine them. The `vcat` and `hcat` functions concatenate two (or more) matrices vertically and horizontally respectively. For instance, let's first create another matrix "m2" by multiplying every value of "m1" by 2:

In [ ]:
m2= m1 .* 2

Now we can combine "m1" and "m2" by:

In [ ]:
vcat(m1, m2)

In [ ]:
hcat(m1, m2)

### Exercises

#### Exercise 15

Define a matrix $m = \begin{pmatrix}8 & 89 \\ 73 & -1236876 \\
    0.6 & 1.9\end{pmatrix}$ and divide each element by 0.35

In [ ]:
m = [[8 89]
     [73 -1236876]
     [0.6 1.9]]

In [ ]:
m ./ 0.35

#### Exercise 16

Try out `zeros` and `ones`

In [ ]:
zeros(12,13)

In [ ]:
ones(12,13)

#### Exercise 17

Define a random matrix of 5 by 5.

In [ ]:
m3 = rand(5,5)

#### Exercise 18

Use `diag` from the `LinearAlgebra` package to get the diagonal of `m3`.

In [ ]:
using LinearAlgebra

In [ ]:
diag(m3)

#### Exercise 19

Define a second random matrix `m4` with the same dimensions as `m3`:

In [ ]:
m4 = rand(5, 5)
# or alternatively
m4 = rand(size(m3)...) # note for python programmers: ... in julia is similar to ** in python for unpacking vectors/lists into arguments

Divide `m3` by `m4` elementwise

In [ ]:
m3 ./ m4

Concatenate `m3` and `m4` vertically.

In [ ]:
vcat(m3, m4)

## Defining functions
Beside the built-in functions we used so far, we can also import external packages:

In [ ]:
using Statistics

In [ ]:
mean(v1)

In [ ]:
v2 = [9, -8, 2]
cor(v1, v2)

When there are no available functions in **Julia** that do the tasks we want, we can define our own functions, like the example shown below:

In [ ]:
function my_func0(x)
    x + 1
end

This newly-defined function is called `my_func0`, which takes a number as input, adds 1, and returns it. For example,

In [ ]:
my_func0(5)

Self-defined functions can be broadcasted as well:

In [ ]:
my_func0.(v1)

In [ ]:
my_func0.(m1)

We can make this function more complicated by building in some **if** statements.

In [ ]:
function my_func1(x)
    if x < 0
        x + 1
    else
        x - 10
    end
end

This function first evalutes whether the input number is smaller than 0. If so, it adds 1 to the input; otherwise it substracts 10 from it.

In [ ]:
my_func1.(v1)

### Exercises

#### Exercise 20

How to fix the following error?
```
julia> Plots.plot(v)
UndefVarError: `Plots` not defined

Stacktrace:
 [1] top-level scope
   @ In[57]:1
```

The `Plots` package needs to be loaded first.

In [ ]:
# This will only work if you have done all exercises in Section 2.1, otherwise install Plots first:
# using Pkg
# Pkg.add("Plots")
using Plots

In [ ]:
Plots.plot(v)

#### Exercise 21

How to fix the following error?
```
julia> using RCall

ArgumentError: Package RCall not found in current path.
- Run `import Pkg; Pkg.add("RCall")` to install the RCall package.

Stacktrace:
 [1] macro expansion
   @ ./loading.jl:1630 [inlined]
 [2] macro expansion
   @ ./lock.jl:267 [inlined]
 [3] require(into::Module, mod::Symbol)
   @ Base ./loading.jl:1611
```

The `RCall` package needs to be installed first.

In [ ]:
import Pkg; Pkg.add("RCall")
using RCall

#### Exercise 22

Write a function which takes a list as input, loops through the list and prints for each value if it's even or odd

In [ ]:
function print_even_odd(li)
    for l in li
        if iseven(l)
            println("even")
        else
            println("odd")
        end
    end
end

In [ ]:
print_even_odd(collect(5:10))

#### Exercise 23

Write a function that takes two strings s1 and s2 and an integer x. It concatenates s2 to s1 while s1 is shorter than x.

In [ ]:
function paste_while(s1, s2, x)
    while length(s1) < x
        s1 = string(s1, s2)
    end
    return s1
end

In [ ]:
paste_while("ab", "c", 10)

## Dataframes
To work with dataframes in **Julia**, usually we need the `DataFrames` package. After installing it, we need to make it available to the working space as follows:

In [ ]:
using DataFrames

Next, let's define a dataframe object:

In [ ]:
dat = DataFrame(A=0:3, B=5:8, C=["ab","bcd","def","fg"])

To display the dataframe, we can use the `display` function.

In [ ]:
display(dat)

The `first` and `last` functions show the very top and bottom row of the dataframe respectively:

In [ ]:
first(dat)

In [ ]:
last(dat)

The indexing system for dataframes is the same as the one for matrices.

In [ ]:
dat[2,3]

In [ ]:
dat[:,1]

To access the entire column, in addition to do indexing, we can also specify the column names:

In [ ]:
dat.A

In [ ]:
dat[:,"A"]

In [ ]:
dat[:,:A]

All of them do the same thing.

To add a new column to the current dataframe, we can do:

In [ ]:
dat[!, "D"] = length.(dat.C);

This means that we want a new column called "D" in our dataframe, and for the values in this column, calculate the length of the respective string in the column "C". Now the new dataframe looks like:

In [ ]:
dat

To subset the dataset by row, we can specify the condition in the row-indexing position:

In [ ]:
dat[dat.B .> 7, :]

### Exercises

#### Exercise 24

Second column by name...

In [ ]:
dat.B

...and by index.

In [ ]:
dat[:, 2]

#### Exercise 25

Column E is the rowwise sum of the values in A and B

In [ ]:
dat[!,"E"] = dat.A .+ dat.B

#### Exercise 26

All rows where E is bigger than 2 and smaller than 6.

In [ ]:
dat[2 .< dat.E .< 6, :]
# alternatively
dat[(dat.E .> 2) .& (dat.E .< 6), :]

## The `RCall` package
A handy package called `RCall` makes it possible to run **R** in the **Julia** environment.

In [ ]:
Pkg.add("RCall")

In [ ]:
using RCall

In the Julia REPL, to enter the **R** environment, we type the dollar sign. We then see `R>`, meaning that you're now in the R environment. In jupyter notebook, we have do the following:

In [ ]:
R"""
1 + 1
"""

Now we can export data from Julia to R by doing:

In [ ]:
@rput dat;

In [ ]:
R"""
head(dat)
"""

To import objects from R to Julia, we use `@rget`.

In [ ]:
R"""
mat = matrix(1:4, 2, 2)
"""

In [ ]:
@rget mat

### Exercises

#### Exercise 27

Create two random vectors.

In [ ]:
x = rand(100)
y = rand(100)

Move them to R

In [ ]:
@rput x
@rput y;

Compute the Pearson correlation between the two.

In [ ]:
R"""
cor.test(x,y)
"""

#### Exercise 28

Create a scatter plot.

In [ ]:
R"""
plot(x,y)
"""

## PyCall

Install and load the PyCall package:

In [ ]:
Pkg.add("PyCall")

In [ ]:
using PyCall

Print 1+1 in python:

In [ ]:
py"""
print(1+1)
"""

Import and use a package in python:

In [ ]:
py"""
import math

x = math.sin(math.radians(90))
"""

Get a variable from python

In [ ]:
x = py"x"

Define a function in python:

In [ ]:
py"""
def abs_add(x, y):
    return abs(x) + abs(y)
"""

Use the function in Julia:

In [ ]:
py"abs_add"(-3,-4)

Use a Julia variable in python

In [ ]:
y = 2
py"""
print($y + 3)
"""

Import a python package directly in Julia:

In [ ]:
math = pyimport("math")

Use it.

In [ ]:
math.sin(math.radians(90))

### Exercises

#### Exercise 29

Sum 456 and 128 in Python and access from Julia.

In [ ]:
py"""
n = 456 + 128
"""
py"n"

#### Exercise 30

Generate a random number `a` in Julia

In [ ]:
a = rand()

Generate a random number in Python and add it to `a`

In [ ]:
py"""
import random

b = random.random()

print($a + b)
"""